@using Skillup_Academy.ViewModels.StudentsViewModels
@model StudentChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "_StudentLayout";
}

<div class="container mt-4">
    <h2 class="mb-4 text-primary">Change Password</h2>

    @* @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">@TempData["Success"]</div>
    } *@

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }

    <form method="post" asp-action="ChangePassword">

        <!-- Current Password -->
        <label class="form-label">Current Password</label>
        <div class="input-group mb-3">
            <input asp-for="CurrentPassword" class="form-control" type="password" id="CurrentPassword" />
            <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('CurrentPassword', this)">
                👁
            </button>
        </div>

        <!-- New Password -->
        <label class="form-label">New Password</label>
        <div class="input-group mb-3">
            <input asp-for="NewPassword" class="form-control" type="password" id="NewPassword" />
            <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('NewPassword', this)">
                👁
            </button>
        </div>

        <!-- Confirm Password -->
        <label class="form-label">Confirm Password</label>
        <div class="input-group mb-3">
            <input asp-for="ConfirmNewPassword" class="form-control" type="password" id="ConfirmPassword" />
            <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('ConfirmPassword', this)">
                👁
            </button>
        </div>

        <button class="btn btn-primary w-100">Update Password</button>
    </form>
    <a asp-controller="Student" asp-action="Profile" class="btn btn-primary w-100 mt-2">Back</a>
</div>

<script>
    function togglePassword(id, btn) {
        const input = document.getElementById(id);

        if (input.type === "password") {
            input.type = "text";
            btn.innerHTML = "🙈";  // icon when visible
        } else {
            input.type = "password";
            btn.innerHTML = "👁";  // icon when hidden
        }
    }
</script>
